@model OperationManagement.Models.Process

@{
    ViewData["Title"] = "Create Process";
}

<div class="text-center">
    <h1>Edit Process</h1>
    <form asp-action="Edit">
        <input type="hidden" asp-for="@Model.EnterpriseId" />
        <div class="row">
            <div class="col-md-12">
                <h4>Process</h4>
                <hr />
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CategoryId" class="control-label">Category</label>
                            <select asp-for="@Model.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Process Status Section -->
                        <h4>Process Status</h4>
                        <hr />
                        <div id="status-container">
                            @foreach (var status in Model.Statuses)
                            {
                                <div class="row status-row mt-1">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input asp-for="@status.Name" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <a asp-action="DeleteStatus" asp-route-Id="@status.Id" onclick="return ConfirmDeleteStatus()">Delete</a> |
                                        <a asp-action="EditStatus" asp-route-Id="@status.Id">Edit</a>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            <a asp-action="CreateStatus" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Add Status</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary mt-3" />
                </div>
                <div>
                    <a asp-controller="ProcessCategories" asp-action="Details" asp-route-id="@Model.CategoryId">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function ConfirmDeleteStatus() {
                var x = confirm("Are you sure you want to delete this status?");
                return x;
        }
    </script>
}
