@model IEnumerable<OperationManagement.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-md-12 d-flex justify-content-around align-items-end">
    <div class="form-group col-md-2">
        <label class="control-label">Category</label>
        <select id="byCategory" name="categoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Order</label>
        <select id="byOrder" name="orderId" class="form-control" asp-items="ViewBag.OrderId"></select>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Process</label>
        <select id="byProcess" name="processId" class="form-control" asp-items="ViewBag.ProcessId"></select>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Process Category</label>
        <select id="byProcessCategory" name="processCategoryId" class="form-control" asp-items="ViewBag.ProcessCategoryId"></select>
    </div>
    <div>
        <a class="btn btn-success" id="applyLink" asp-action="Index">Filter</a>
        <a class="btn btn-success" asp-action="Index">Reset</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Enterprise Product Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnterpriseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Orders" asp-route-id="@item.OrderId">@item.Order.EnterpriseOrderNumber</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)%
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#applyLink').on('click', UpdateFilter);
        });
        function UpdateFilter(){
            var categoryId = $('#byCategory').val();
            var orderId = $('#byOrder').val();
            var processId = $('#byProcess').val();
            var processCategoryId = $('#byProcessCategory').val();
            var query = [];
            if (categoryId !== '0') {
                query.push({ key: "categoryId", val: categoryId });
            }
            if (orderId !== '0') {
                query.push({ key: "orderId", val: orderId });
            }
            if (processId !== '0') {
                query.push({ key: "processId", val: processId });
            }
            if (processCategoryId !== '0') {
                query.push({ key: "processCategoryId", val: processCategoryId });
            }
            var href = $('#applyLink').attr('href');
            var updatedHref = "";
            console.log(query);
            for (let i = 0; i < query.length; i++) {
                if (i == 0) {
                    updatedHref += "?" + query[i].key + "=" + query[i].val;
                }
                else {
                    updatedHref += "&" + query[i].key + "=" + query[i].val;
                }
            }
            $('#applyLink').attr('href', href.split('?')[0] + updatedHref);
        }
    </script>
}