@model OperationManagement.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="row">
        <div class="col-md-6">
            <h4>Customer</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NationalId)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NationalId)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nationality)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nationality)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Enterprise)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Enterprise.Name)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4>Contacts</h4>
            <hr />
            @if (Model.Contacts != null && Model.Contacts?.Count > 0)
            {
                <dl class="row">
                    @foreach (var contact in Model.Contacts)
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayFor(model => contact.Type)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => contact.Value)
                        </dd>
                    }
                </dl>
            }
            else
            {
                <p>No contacts found.</p>
            }
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Create" asp-controller="Orders" asp-route-CustomerId="@Model?.Id">Add Order</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h4>Orders</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Enterprise Order Number
            </th>
            <th>
                ContractDate
            </th>
            <th>
                PlannedStartDate
            </th>
            <th>
                PlannedEndDate
            </th>
            <th>
                ActualStartDate
            </th>
            <th>
                IsHandOver
            </th>
            <th>
                DeliveryLocation
            </th>
            <th>
                Progress
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnterpriseOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHandOver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryLocation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)%
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Orders" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Orders" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Orders" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

