@model IEnumerable<OperationManagement.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-md-12 d-flex justify-content-around align-items-end">
    <div class="form-group col-md-2">
        <label class="control-label">Email</label>
        <input type="email" id="byEmail" class="form-control" value="@ViewBag.Email"/>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Name</label>
        <input type="text" id="byName" class="form-control" value="@ViewBag.Name" />
    </div>
    <div>
        <a class="btn btn-success" id="applyLink" asp-action="Index">Apply</a>
        <a asp-action="Index">Reset</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if(item.NationalId!=null){
                    @Html.DisplayFor(modelItem => item.NationalId)
                }
                else{
                    <span>none</span>
                }
            </td>
            <td>
                @if (item.Nationality != null)
                {
                    @Html.DisplayFor(modelItem => item.Nationality)
                }
                else
                {
                    <span>none</span>
                }
            </td>
            <td>
                @if (item.Gender != null)
                {
                    @Html.DisplayFor(modelItem => item.Gender)
                }
                else
                {
                    <span>none</span>
                }
            </td>
            <td>
                @if (item.BirthDate != null)
                {
                    @Html.DisplayFor(modelItem => item.BirthDate)
                }
                else
                {
                    <span>none</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enterprise.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#byEmail, #byName').on('change', function () {
                var email = $('#byEmail').val();
                var name = $('#byName').val();
                

                var query=[];
                if (email !== '') {
                    query.push({ key: "email", val: email });
                }
                if (name !== '') {
                    query.push({ key: "name", val: name });
                }
                var href = $('#applyLink').attr('href');
                var updatedHref = "";
                console.log(query);
                for(let i=0;i<query.length;i++){
                    if(i==0){
                        updatedHref += "?" + query[i].key + "=" + query[i].val;
                    }
                    else{
                        updatedHref += "&" + query[i].key + "=" + query[i].val;
                    }
                }
                $('#applyLink').attr('href', href.split('?')[0] + updatedHref);
            });
        });
    </script>
}